{% extends 'layout.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">IDAM Stuff goes here</h1>
    </div>

    <div class="row"><button type="button" class="btn btn-small btn-light long" data-toggle="collapse" data-target="#demo1">forgerock-idm-idam-prod<span data-feather="chevrons-down"></span></button></div>
    <div class="row collapse col-md-12 graf-embed" id="demo1">
        
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=8" width="600" height="300" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=28" width="30%" height="300" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=14" width="30%" height="250" frameborder="0">
            </iframe>

    </div>

    <div class="row"><button type="button" class="btn btn-small btn-light long" data-toggle="collapse" data-target="#demo2">forgerock-am-idam-prod<span data-feather="chevrons-down"></span></button></div>
    <div class="row collapse col-md-12 graf-embed" id="demo2">
        
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=2" width="600" height="300" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=30" width="30%" height="200" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=10" width="30%" height="200" frameborder="0">
            </iframe>

    </div>


    <div class="row"><button type="button" class="btn btn-small btn-light long" data-toggle="collapse" data-target="#demo3">forgerock-ds-tokenstore-idam-prod<span data-feather="chevrons-down"></span></button></div>
    <div class="row collapse col-lg-12 graf-embed" id="demo3">
        <div class="col-md-6">
    
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=4" width="600" height="300" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=32" width="450" height="200" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=24" width="450" height="200" frameborder="0">
            </iframe>
        </div>
    </div>

   
    <div class="row"><button type="button" class="btn btn-small btn-light long" data-toggle="collapse" data-target="#demo4">forgerock-ds-userstore-idam-prod<span data-feather="chevrons-down"></span></button></div>
    <div class="row collapse col-md-12 graf-embed" id="demo4">

        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=6" width="600" height="300" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?orgId=1&panelId=16" width="450" height="200" frameborder="0">
            </iframe>
        <iframe src="https://52.151.67.161:3000/d-solo/Me2EcuMZz/idam?panelId=12&orgId=1" width="450" height="200" frameborder="0">
            </iframe>
    </div>

</main>

{% endblock %}

{% block footer%}{% endblock %}